
<div class=" flex-shrink-0 p-3 text-white bg-dark sidebar biwinwza biwinwzafont" style="width: 100%;">
  <ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a href="/dashboard" class="nav-link text-white">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
      HOME
    </a>
    <hr>
    </li>
  </ul>
    <ul class="nav nav-pills flex-column mb-auto">
      
      
      
      
      <li>
        <a href="/insertCompany" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มข้อมูลบริษัทรถร่วม
        </a>
      </li>
      <li>
        <a href="/insertCustomer" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มข้อมูลลูกค้า
        </a>
      </li>
      
      <li>
        <a href="/insertOrigin" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มที่อยู่ต้นทาง
        </a>
      </li>
      <li>
        <a href="/insertDestination" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มที่อยู่ปลายทาง
        </a>
      </li>
      <li>
        <a href="/product-add" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มสินค้า
        </a>
      </li>
      <li>
        <a href="/test" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มข้อมูลรถ
        </a>
      </li>
      <li>
        <a href="/insertWorkrecord" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เพิ่มบันทึกงาน
        </a>
      </li>
      <li>
        <a href="/billing" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          ออกใบวางบิล
        </a>
      </li>
      <li>
        <a href="/customer" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          รายการข้อมูลลูกค้า
        </a>
      </li>
      <li>
        <a href="/company" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          รายการข้อมูลบริษัท
        </a>
      </li>
      <li>
        <a href="/updatestatus" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          เเก้ไขสถานะการส่ง
        </a>
      </li>
      
      

    </ul>
    <ul class="nav nav-pills flex-column mb-auto">
    <hr>
    <li>
      <a href="/logout" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        LOGOUT
      </a>
    </li></ul>
  </div>