<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address List</title>
    <%- include('./head'); %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <%- include('./header'); %>
      </header>
      <div class="main-content">
        <h1 class="text-center text-primary mt-3 mb-3">เพิ่มที่อยู่ต้นทาง</h1>
        <br>
    <form method="post" action="/insertOrigin1">
      
      <label for="AddDesc">ที่อยู่</label>
      <input type="text"class="form-control form-control-lg"  name="AddDesc3"><br>
    
      <label for="SubDistrict">ตำบล</label>
      <input type="text" class="form-control form-control-lg" name="SubDistrict3"><br>
    
      <label for="District">อำเภอ</label>
      <input type="text"class="form-control form-control-lg"  name="District3"><br>
    
      <label for="Province">จังหวัด</label>
      <input type="text" class="form-control form-control-lg" name="Province3"><br>
    
      <label for="Zipcode">รหัสไปรษณีย์</label>
      <input type="text"class="form-control form-control-lg"  name="Zipcode3"><br>

      <label for="OriginDesc">รายละเอียดต้นทาง</label>
      <input type="text"class="form-control form-control-lg"  name="OrDesc"><br>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>

  </body>
</html>
